BODY {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #ccc;
    font-family: Arial;
    font-size: 14px;
}
A {
    color: #888;
}
A:hover {
    color: #000;
}
#content {
    margin: 50px auto;
    width: 400px;
    padding: 10px;
    color: #212121;
    background-color: #f0f0f0;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #555;
    line-height: 30px;
    text-align: center;
}
#header {
    background-color: #3b5998;
    color: #ffffff;
    font-weight: bold;
    margin: -10px -10px 10px;
    border-radius: 5px 5px 0px 0px;
    line-height: 40px;
}
#registerLink {
    float: right;
    font-size: 12px;
    text-decoration: none;
    margin-top: -15px;
}
.cInput {
    font-size: 14px;
    height: 30px;
    width: 300px;
    line-height: 30px;
    padding: 0 20px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}
.cButton {
    background-color: #3b5998;
    color: #ffffff;
    font-weight: bold;
    padding: 7px 35px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #555;
    margin-top:5px;
}
.cInput:focus, .cButton:hover {
    outline-color: transparent !important;
    box-shadow: 0px 0px 4px #555;
}
#errorMsg {
    color: #fa0029;
}