BODY {
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: #ccc;
    font-family: Arial;
    font-size: 12px;
}
#center {
    overflow: hidden;
    padding-bottom: 10px;
}
.left {
    float: left;
}
#mainMenu {
    height: 50px;
    padding: 0 5px;
    overflow: hidden;
    background-color: #3b5998;
    line-height: 50px;
    padding-left: 12px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
#logout {
    float: right;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url('/images/logout.png');
}
#settings {
    float: right;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url('/images/settings.png');
}
#username {
    float: right;
    line-height: 50px;
    padding: 0 20px;
    font-weight: normal;
    font-size: 12px;
}
#avatar {
     float: right;
     width: 50px;
     height: 50px;
     cursor: pointer;
     background: url('/images/user.png');
}
#avatar2 {
    float: right;
    width: 159px;
    height: 26px;
    cursor: pointer;
    background: url('/images/fb.png') no-repeat;
    margin-top: 12px;
    margin-right: 30px;
}
#avatar2:hover {
    background-position: 0px -26px;
}
#avatar IMG {
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    margin: 5px;
    cursor: default;
}
#leftMenu {
    width: 160px;
    min-height: 200px;
    text-align: center;
}
#leftMenu .logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.leftMenuItem.active, .leftMenuItem:hover {
    background-color:#f2f2f2;
    color: #212121;
    border-radius: 5px;
    border: 1px solid #999;
    margin: 5px 10px;
}
.leftMenuItem {
    cursor: pointer;
    margin: 6px 10px;
    padding-bottom: 5px;
}
#leftMenu #dashboard:hover {
    color: #999;
}
#leftMenu #dashboard .logo {
    background: url('/images/dashboard.png');
}
#leftMenu #new_app .logo {
    background: url('/images/designer.png');
}
#content {
    margin-left: 160px;
    margin-right: 10px;
    margin-top: 5px;
    min-height: 200px;
    padding: 10px;
    color: #212121;
    background-color: #f0f0f0;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #555;
}
#loader {
    width: 220px;
    height: 19px;
    background: url('/images/loader.gif');
    margin: 90px auto;
}
#newApplication, #myDashboard {
    overflow: hidden;
    margin: 20px auto;
}
.application,.dashboard {
    width: 230px;
    float: left;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
    margin:5px;
}
.application:hover,.dashboard:hover{
    background-color: #fff;
}
.application .logo,.dashboard .logo {
    width: 128px;
    height: 128px;
    margin: 0 auto;
}
.application .description,.dashboard .description {
    margin-top: 5px;
    font-size: 16px;
}
#myapps .logo {
    background: url('/images/myapps.png');
}
#stats .logo {
    background: url('/images/stats.png');
}
#quiz .logo {
    background: url('/images/quiz.png');
}
#text .logo {
    background: url('/images/text.png');
}
#photo .logo {
     background: url('/images/photo.png');
 }
#archive .logo {
    background: url('/images/archive.png');
}
.cInput {
    font-size: 14px;
    height: 30px;
    width: 300px;
    line-height: 30px;
    padding: 0 20px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}
.cButton {
    background-color: #3b5998;
    color: #ffffff;
    font-weight: bold;
    padding: 7px 35px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #555;
    margin-top:5px;
    cursor:pointer;
}
#newAppQuestion, #newAppGeneral, #newAppVisual, #newAppTerms, #newAppRewards, #newAppParticipants {
    width: 510px;
    margin: 20px auto;
}
.answer {
    padding-left: 50px;
}
.questions {
    margin-bottom: 35px;
    position: relative;
}
.questions.single {
    margin-bottom: 15px !important;
}
.nextQuestion,.nextQuestionSingle {
    padding: 4px 10px;
    display: inline-block;
    background-color: #3b5998;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin-left: 7px;
    cursor: pointer;
}
.delQuestion {
    padding: 4px 10px;
    display: inline-block;
    background-color: #3b5998;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin-left: 7px;
    cursor: pointer;
}
.delAnswer {
    padding: 4px 10px;
    display: inline-block;
    background-color: #3b5998;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    margin-top: 9px;
    margin-left: -32px;
    cursor: pointer
}
.nextAnswer {
    padding: 4px 10px 4px 9px;
    display: inline-block;
    background-color: #3b5998;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    margin-left: -25px;
    cursor: pointer;
 }
.nextAnswer:hover, .nextQuestion:hover,.delAnswer:hover,.cButton:hover,.qq-upload-button:hover {
    background-color: #4c6aa9;
}
#newAppMenu {
    background-color: #fff;
    margin: -10px -10px 0px;
    padding: 10px 10px 0px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #999;
}
#newAppMenu SPAN {
    display: inline-block;
    background-color:#ddd;
    border-radius: 5px 5px 0px 0px;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-right:1px solid #999;
    padding: 5px 20px;
    cursor:pointer;
}
#newAppMenu SPAN.active {
    background-color: #f2f2f2 !important;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: -1px;
    cursor: default !important;
}
#newAppMenu SPAN:hover {
    background-color: #d0d0d0;
}
.newAppTabs {
    display:none;
}
.newAppTabs LABEL {
    display: inline-block;
    width: 170px;
    text-align: left;
    line-height: 40px;
}
.newAppTabs .datetimepicker {
    font-size: 14px;
    height: 30px;
    width: 188px;
    line-height: 30px;
    padding: 0 20px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}
#newAppGeneral {
    text-align: center;
}
#newAppMenu SPAN.last {
    margin-left: 50px;
}
#appName {
    width: 365px;
    margin-right: 12px;
}
#appLike {
    margin-left: 20px;
}
#appFp {
    width: auto;
    padding: 0 0 0 10px;
}
#newAppGeneral {
    display:block
}
#newAppPublish {
    text-align: center;
    padding-top: 70px;
}
.qScore {
    width: 20px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #999;
}
#questionsLimit {
    position: absolute;
    top: 154px;
    left: 180px;
    width: 200px;
}
#qLimit {
    text-align: center;
}
#adv {
    margin: 0 auto;
    display: block;
    width: 130px;
}
#advanced{
    display:none;
}
#customCSS {
    height: 160px;
    width: 438px;
    margin-left: 0px;
    resize: none;
}
#limits {
    text-align: left;
    width: 360px;
    margin: 0 auto;
}
#minimum {
    display: none;
}
#u_header {
    margin-top: 10px;
}
.file-limit {
    margin: -22px auto 20px;
    width: 415px;
    text-align: right;
}
.preview {
    display: none;
    width: 792px;
    margin-left: -156px;
    margin-bottom: 10px;
    position: relative;
}
.previewInfo {
    overflow: hidden;
}
.previewPhoto {
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0px 0px 25px #ccc;
}
.preview.p_rewards {
    width: 250px;
    margin-left: 100px !important;
}
.delInfo {
    right: 7px;
    top: 7px;
    cursor: pointer;
    position: absolute;
    z-index: 5;
}
.qq-upload-list {
    display: none;
}
.qq-upload-button {
    width: 115px !important;
    margin-left: 20px;
    color: #ffffff;
    background-color: #3b5998;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 0px 1px #555;
    border-radius: 3px;
    padding: 7px 35px;
    text-align: center;
    font-weight: bold;
}
#info_tbl, #terms_tbl {
    width: 510px !important;
}
#info_ifr, #terms_ifr {
    width: 510px !important;
    height: 150px !important;
}
.welcome {
    display: inline-block;
    margin: 0px 0px 10px 10px;
    font-weight: bold;
}
#limits .welcome {
    margin: 10px 0px 0px 139px !important;
}
#contestList {
    width: auto;
    padding: 0 0 0 10px;
    margin: 20px auto 25px;
}
#appListHolder {
    text-align: center;
    padding: 50px;
}
#appListHolder SPAN {
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
}
#deleteApp {
    display: block;
    width: 92px;
    margin: 30px auto 60px;
}
.mce_styleselect .mceTitle {
    width: 100px !important;
}
.mce_fontsizeselect .mceTitle {
    width: 50px !important;
}
#info_path_row, #terms_path_row {
    display:none;
}
.infoMsg {
    background-color: #3b5998;
    color: #ffffff;
    font-weight: bold;
    padding: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #555;
    text-align: center;
}
#quizFanpage {
    font-size: 14px;
    font-weight: bold;
}
#termsUrl{
    width: 200px;
}
.qReward {
    width: 200px;
}
#addReward {
    margin-left: 200px;
    margin-bottom: 20px;
    display: inline-block;
}
.delReward {
    display: block;
    width: 80px;
    text-align: center;
    margin: 20px auto -10px;
}
.newReward HR {
    margin: 15px;
}
.pReward {
    margin-left: 4px;
}
#newAppParticipants {
    position: relative;
    width: 650px;
}
.scoreLine {
    overflow: hidden;
    line-height: 2em;
    width: 450px;
}
.scoreLine DIV {
    float: left;
}
.scoreLp {
    width: 20px;
    text-align: right;
    margin-right: 10px;
}
.scoreName {
    width: 250px;
}
.scoreScore {
    width: 50px;
    text-align: center;
}
.scoreReward {
    background-color: #fff;
}
.scoreTime {
    width: 100px;
    text-align: center;
}
.scoreData {
    background-color: #fff;
    position: absolute;
    z-index: 5;
    right: 0px;
    margin-top: -24px;
    padding: 5px 0 4px;
    min-width: 200px;
    text-align: right;
}
.scoreData A {
    text-decoration: none;
    font-color: #999;
    border-bottom: 1px dotted #999;
    margin: 0 10px;
}
.scoreDelete {
    width: 16px;
    height: 16px;
    position:absolute;
    z-index: 5;
    background: url('../images/delete.png');
    cursor: pointer;
    margin-left: -20px;
    margin-top: 4px;
}
.scoreDelete:hover {
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
}

.backButton, .backButton2 {
    width: 60px;
    padding: 7px 15px;
    position: absolute;
    z-index: 10;
}
#appPreview {
    width: 55px;
    margin: 10px auto 20px;
    font-size: 13px;
}
.modal {
    color: #000000;
    left: 50% !important;
    margin-left: -200px;
}
.btn2:hover {
    background-color: #4c6aa9 !important;
}
.btn2 {
    background-color: #3b5998;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #555;
    color: #ffffff;
    cursor: pointer;
    margin: 20px auto 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 35px;
    display: inline-block;
}
#temp {
    font-size: 14px;
    padding: 30px 50px;
    line-height: 2em;
    text-align: center;
}
#appContinue, #appDelete {
    margin: 20px auto;
    width: 120px;
}
#settings {
    display:none;
}
.scoreDateTime {
    margin-left: 50px;
}
.show_story IMG {
    margin-top: 4px;
    cursor: pointer;
}
.show_story IMG:hover {
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
}
#archiveHolder {
    width: 700px;
    margin: 0 auto;
    position: relative;
    padding: 30px;
}
#archiveHolder .scoreData {
    right: 0px !important;
    min-width: 250px !important;
}
.archiveStatRow {
    overflow: hidden;
    line-height: 2em;
}
.archiveStatParam {
    font-size: 14px;
    width: 200px;
    float:left;
}
.archiveStatValue {
    font-size: 14px;
    font-weight: bold;
    width: 500px;
    float:left;
}