.modals {
    /*    display:none;*/
}
.modal-backdrop, .modal-backdrop-locked{
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.75);
    display:none;
    z-index: 99998;
}
.modal-spinner {
    display:none;
    width: 32px;
    height: 32px;
    margin: 479px auto;
    background:url(../images/spinner-modal.gif);
}
.modal{
    width: 400px;
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -200px;
    background: #f2f2f2;
    z-index: 99999;
    display:none;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    font-size: 15px;
    line-height: 25px;
}
.modal-header{
    height: 68px;
    overflow: hidden;
    background-color: #f5f5f5
}
.modal-header-after{
    margin-bottom: -50px;
}
.modal-close {
    position: relative;
    left: 382px;
    z-index: 999999;
    width: 58px;
    height: 69px;
    background: url('../images/close.png');
    cursor: pointer;
}
.modal-icoImg {
    float: left;
    width: 45px;
    height: 45px;
    padding: 12px;
    text-align: center;
}
.modal-icoImg IMG {
    max-height: 45px;
    max-width: 45px;
    height: auto;
    width: auto;
}
.modal-body {
    overflow: hidden;
    background-color: #f5f5f5;
    text-align: center;
}
.modal-body-single {
    overflow: hidden;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    line-height: 1.5em;
}
.modalQuestion {
    font-weight: bold;
    font-size: 14px;
}
.modalAnswer {
    font-size: 12px;
    margin: 10px auto;

}
.modal.wide {
    width: 600px !important;
    margin-left: -300px !important;
}