BODY {
    margin: 0px;
    overflow-x: hidden;
}
#topMenuHolder {
    background-color: #ddd;
    position: fixed;
    z-index: 10;
    width: 100%;
}
#topmenu {
    overflow: hidden;
    width: 805px;
    margin: 0 auto;
}
.screens {
    display: none;
}
.cButton {
    color: #000000;
    font-family: arial;
    font-size: 12px;
    padding: 4px 31px;
    background-position: 0 -5px;
    background-color: #ddd;
    border-color: rgba(0,0,0,0.15);
    border-width: 0px 1px 1px 0px;
    margin-top: 0px;
    cursor: pointer;
    float: left;
}
.cButton.active, .cButton:hover {
    background-color: #4c6aa9;
    color: #ffffff;
}
#p_contents {
    margin-left: 5px;
    width: 810px;
    overflow-x: hidden;
    position: relative;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}
A {
    color:inherit;
    text-decoration: none;
    border-bottom:1px dotted;
}
#header {
    height: 40px;
    padding: 0 5px;
    overflow: hidden;
    background-color: #3b5998;
    line-height: 40px;
    padding-left: 12px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    position: relative;
    z-index: 2;
    width: 790px;
    margin: 23px auto 0;
}
#menu {
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 63px;
    border-radius: 0px 0px 5px 5px;
    z-index: 1;
}
.menuItem {
    float: left;
    padding: 5px 19px;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -5px;
    background-color: #f2f2f2;
    border-color: rgba(0,0,0,0.15);
    border-width: 0px 1px 1px 0px;
    border-style: solid;
}
.menuItem.first {
    border-bottom-left-radius: 5px;
    border-left-width: 1px;
}
.menuItem.last {
    border-bottom-right-radius: 5px;
}
.menuItem.active, .menuItem:hover {
    color: #ffffff;
    background-color: #5b74a8;
}
.btn:hover,.btn2:hover, .nextQuestion:hover {
    background-color: #4c6aa9 !important;
}
.btn2, .nextQuestion {
    background-color: #3b5998;
    border-radius: 5px;
    margin-left: 5px;
    color: #ffffff;
    cursor: pointer;
    margin: 20px auto 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 40px;
    display: inline-block;
}
#proceed {
    box-shadow: 0px 0px 10px #999;
    font-size: 16px;
}
.terms {
    margin-top:20px;
    line-height: 1.5em;
    padding: 15px;
    font-size: 10px;
    bottom: 0px;
    width: 470px;
}
#contents {
    min-height: 300px;
}
#footer {
    background-color: #3b5998;
    font-size:10px;
    text-align:center;
    color:#ddd;
    padding: 10px 15px;
    border-radius: 5px 5px 0px 0px;
}
#infoText {
    padding: 50px;
}
#appBody {
    position: relative;
    padding: 25px;
}
#spinner {
    width: 780px;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 120px 40px;
    display:none;
}
#spinnerImg {
    width: 220px;
    height: 19px;
    margin: 0px auto;
    background:url(/images/loader.gif);
}
#quizHolder {
    text-align: center;
}
#quizHolder DIV {
    line-height: 2em;
}
.qHolder {
    text-align: left;
    width: 500px;
    margin: 0 auto;
    display: none;
}
.qQuestion {
    font-weight: bold;
    margin-left:20px;
}
.qAnswer LABEL {
    margin-left: 10px;
}
.qHolder .nextQuestion {
    margin-left: 195px;
}
.qHolder.finish {
    display: none;
    text-align: center;
}
#qsh {
    padding: 50px 0px;
    display: block;
    line-height: 1em !important;
    margin-left: 190px;
}
.nextQuestion {
    display:none;
    line-height: 1em !important;
}
.scoreLine {
    overflow: hidden;
    line-height: 1.5em;
    width: 450px;
    margin: 0 auto;
}
.scoreLine DIV {
    float: left;
}
.scoreLp {
    width: 20px;
    text-align: right;
    margin-right: 10px;
}
.scoreName {
    width: 270px;
}
.scoreScore {
    width: 50px;
    text-align: center;
}
.scoreTime {
    width: 100px;
    text-align: center;
}
.singleMsg {
    padding: 100px;
    text-align: center;
    line-height: 1.5em;
}
#appHeader {
    text-align: center;
}
#finishScore {
    font-weight: bold;
}
#rewardsHolder {
    overflow: hidden;
    width: 790px;
    margin-left: -140px !important;
}
.reward {
    width: 250px;
    float: left;
    position: relative;
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px #999;
}
.rewardImg {
    position: relative;
}
.rewardImg IMG {
    width: 250px;
}
.rewardPlace {
    position: absolute;
    top: 20%;
    width: 100%;
    font-weight: bold;
    font-size: 120px;
    color: #fff;
    text-shadow: 0px 0px 70px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.rewardName {
    padding: 5px;
    font-weight: bold;
}
.rewardDesc {
    padding:5px;
    font-style: italic;
    font-size: 12px;
}
TEXTAREA {
    height: 160px;
    width: 458px;
    margin-left: 0px;
    resize: none;
    font: 14px/18px Arial;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: rgba(255,255,255,0.5);
}
.qQuestion.text{
    text-align: center;
    margin-left: 0px;
}
#qSelect {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    width: 100%;
}
#qSelect OPTION {
    background-color: rgba(255,255,255,0.5);
}
.scoreDateTime {
    margin-left: 50px;
}
.scoreScore.withDate {
    width: 20px;
}
.scoreTime.withDate {
    width: 160px;
    text-align: right;
}
.show_story IMG {
    margin-top: 4px;
    cursor: pointer;
}
.show_story IMG:hover {
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
}
